<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aluguel de Carro</title>
</head>

<body class="container">
  <header class="container pt-3 d-flex justify-content-center">
    <h1> Alugel de Carros</h1>
  </header>

<form class="container pt-4"  [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3" >
    <span class="input-group-text" id="inputGroup-sizing-default">Modelo do Carro</span>
    <input type="text" class="form-control" id="model" name="model" formControlName="model">
  </div>

  <div class="input-group mb-3 ">
    <span class="input-group-text">Data inicio</span>
    <input type="date" aria-label="First name" class="form-control" id="dateNew" name="dateNew" formControlName="dateNew">
    <span class="input-group-text">Data Retorno</span>
    <input type="date" aria-label="Last name" class="form-control" id="dateEnd" name="dateEnd" formControlName="dateEnd">
  </div>

  <div class="input-group mb-3 " style="padding-right: 65%;">
    <span class="input-group-text">Preco por hora</span>
    <input type="number" class="form-control" id="hourPrice" name="hourPrice" formControlName="hourPrice">
    <span class="input-group-text">$</span>
  </div>

  <div class="input-group mb-3 " style="padding-right: 65%;">
    <span class="input-group-text">Preco por dia</span>
    <input type="number" class="form-control" id="dayPrice" name="dayPrice" formControlName="dayPrice">
    <span class="input-group-text">$</span>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto m-5">
  <button type="submit" class="btn btn-success" >Gerar</button>
  </div>
</form>

<div class="container" style="margin-top: 5%">
  <h2 class="container d-flex justify-content-center">RESULTADO</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Carro</th>
        <th scope="col">Data inicio</th>
        <th scope="col">Data retorno</th>
        <th scope="col">Valor por Hora</th>
        <th scope="col">Valor por Dia</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row"> {{ formulario.get('model')?.value }} </th>
        <td> {{ formulario.get('dateNew')?.value }} </td>
        <td>  {{ formulario.get('dateEnd')?.value }} </td>
        <td> {{ formulario.get('hourPrice')?.value }} </td>
        <td> {{ formulario.get('dayPrice')?.value }} </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
